@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @media (max-width:760px) {
    body{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
    }
} */
:root {
    --primary-color: #0376c1;
    --primary-color-dark: #002954;
    --text-dark: #12110f;
    --text-light: #6b7280;
    --extra-light: #fbf7f6;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
  }
  
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    background-color:  #eaeef8;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
}

.nav-header .nav-logo{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}
/* .nav-logo .fas-plane{
    font-size: 2rem;
} */
.nav-logo h1{
    font-size: 3rem;
    font-style: normal;
    padding-left: 5px;
    color: blue;
}
.nav-logo h1 span{
    color: rgb(79, 82, 85);
    font-size: 2.5rem;
}
.nav-header .nav-logo .fa-plane{
    background-color: rgb(79, 82, 85); ;
    font-size: 3rem;
    transition: .3s;
    padding-left: 40px;
    transform: rotate(-43deg);
}
ul{
    display: flex;
    }
ul li{
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 1rem;
    font-weight: bold;
}
ul li a:hover{
    color: rgb(82, 129, 82);
    text-decoration: underline;
}
.hero{
    /* border: 2px solid black; */
    /* width: 100%;
    height: 650px;
    background-image: url("/travel images/header.jpg"); */
    padding-block: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("header.jpg");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero-text h1{
    color: rgb(222, 241, 222);
    font-size: 5rem;
    padding-left: 40px;
    padding-top: 78px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-text p{
    padding-left: 40px;
    color: #ffff;
    font-size: 3rem;
    font-family: var(--header-font);
  
}
nav{
    background-color: rgb(83, 78, 78);
}
form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    border: 1px solid black;

  
}
form .input-grp span{
    padding: 6px 10px;
  font-size: 1rem;
  background-color: black;
  color: #ffff;
}
.input-grp input{
    width: 200px;
    height: 50px;
    border: 2px double rgb(34, 39, 34);
    
}
.input-grp .btn{
    width: 100px;
    height: 40px;
    background-color: blue;
    color: black;
}

.sec-feat{
    /* border: 2px solid black; */
    /* background-color: rgb(212, 199, 224); */
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   }

   .feature-card{
    border: 1px solid skyblue;
    /* background-color: wheat; */
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;    
}
   .feature-card:hover{
    
    animation: zoom 1s ease;

   }
@keyframes zoom{
    0%{
        transform: scale(1 , 1);
    }
    50%{
        transform: scale( 0.9 ,0.9 );
    }
    100%{
        transform: scale(1 , 1);
    }

}
   .feature-card img{
    max-width: 120px;
   }
   .feature-card h4{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1px;
    padding-left: 25px;
    padding-bottom: 130px;
    
   }
   .feature-card p{
    margin-bottom: 0px;
    font-weight: bold;
    position: absolute;
    padding-left: 150px;
    /* padding-top: 100px;
    /* padding-right: 50px; */
   } 
   .destination{
    /* border: 2px solid black; */
    width: 100%;
    height: 700px;
    padding-top: 55px;
   }
   .ds1 h2{
    font-size: 3.5rem;
    padding-left: 34%;
   }
   .ds1 p{
    font-size: 2rem;
    padding-left: 23%;
 
   }
   .destination-grid{
    display: flex;
    justify-content: space-evenly;
   }
   .destination-grid img{
    width: 400px;
    height: 460px;
    margin-top: 1.3rem;
   }
   .destination-grid img:hover{
    animation: zoom2 1s ease;

   }
@keyframes zoom2{
    0%{
        transform: scale(1 , 1);
    }
    50%{
        transform: scale( 0.9 ,0.9 );
    }
    100%{
        transform: scale(1 , 1);
    }

}
.destination-grid .destination-content{
    font-size: 1.4rem;
    font-weight: 900;

}
.discount{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("discount.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  align-items: center;
}
.discount .ds1{
    text-align: center;
    padding-right: 300px;
    padding-top: 60px;
}
.discount .ds1 h2{
        font-size: 4rem;
        font-weight: bolder;
        color: #fbf7f6;
}
.ds1 span{
    font-size: 3rem;
    font-weight: bold;
}
.discount .btn{
    background-color: blue;
    color: var(--white);
    height: 35px;
    width: 80px;
    font-size: 0.7rem;
    margin-left: 45%;
    margin-top: 40px;
    color: black;
}

.discount .btn:hover{
    background-color: #12110f;
    color: hsl(12, 38%, 97%);
}

.package{
    width: 100%;
    height: 800px;
}
.package .section__header{
    font-size: 3.5rem;
    font-weight: bolder;
    padding-left: 35%;
    padding-top: 70px;
}
.package .section__description{
    font-size: 2rem;
    padding-left: 24%;
    font-weight: bold;
    
}
.package-grid{   
    display: flex;
    justify-content: space-evenly;
}
.package-grid img{
    height: 400px;
    width: 350px;
}
.package-card h4{
    font-size: 1.5rem;
    font-weight: bolder;
}
.package-card p{
    font-size: 0.8rem;
    font-weight: 900;
}
.package-card .btn{
    background-color: blue;
    height: 30px;
    width: 70px;
    font-weight: bold;
    font-size: 0.6rem;
    color: black;
}
.package-card .btn:hover{
    background-color: black;
    color: white;
}
.package-box img:hover{
    animation: pac 2s ease;
}
@keyframes pac{
    0%{
        transform: scale(1 , 1);
    }
    50%{
        transform: scale( 0.9 ,0.9 );
    }
    100%{
        transform: scale(1 , 1);
    }

}

footer{
    background-color: black;
    color: #ffff;
    width: 100%;
    height: 400px;
    align-content: center;
}









   